.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    cursor: default;
    padding: 0rem 3.5rem;
}
.container h1{
    padding-top: 5rem;
    font-weight: 500;
    font-size: 1.7rem;
}
.container p{
    /* padding-top: 1.8rem; */
    margin-top: 1rem;
    color: rgb(162, 161, 161);
}
.outer{
    /* background-color: chocolate; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    gap: 0rem;
}
.outer div{
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.outer div p{
    font-weight: 550;
    font-size: 1rem;
    color: black;
    
}


.imgCont{
    border: .1rem solid rgb(246, 242, 242);
    border-radius : .75rem;
    box-shadow: 0 1px 1px rgba(172, 166, 166, 0.47); /* ✅ shadow add */
    transition: transform 0.3s ease-in-out;
}

.imgCont:hover{
    transform: scale(1.02);
}

.imgCont span{
    color:  rgb(135, 134, 134);
    font-size: .8rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
}
.imgConatiner{
    height: 14rem;
    width: 18rem;
    object-fit: cover;
    position: center;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    box-shadow: 0 1px 1px rgba(160, 158, 158, 0.25);
}
.imgConatiner{
    width: 100%;
    border-radius: 0rem;
}
 .imgCont img{
   height: 15rem;
    width: 18rem;
    object-fit: cover;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    
}




@media (max-width:1024px) {
    .outer{
   justify-content: space-evenly;
    padding: 0rem;
    gap: 0rem;
}
.imgCont{
    border-radius: 0rem;
}
    
.outer div {
    margin: 0; 
}
.outer{
    justify-content: flex-start;
    gap: 7.5rem;
}
}








@media (max-width:767px) {
.container{
    padding: 0rem .5rem;
    align-items: center;
    text-align: center;
} 
.container h1{
    font-size: 1.3rem;
}   
.container p{
    font-size: .9rem;

}
.outer{
    padding: 0rem;
    gap: .7rem; 
}
.imgCont{
    border-radius: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .imgCont img{
   height: 5rem;
    width: 7.5rem;
    object-fit: cover;
    display: flex;
    justify-content: space-around;

}
.imgConatiner{
    width: 100%;
    border-radius: 0rem;
}
  .outer div p{
    font-size: .9rem;
    padding-bottom: 0rem;
  }
  .outer div span{
    font-size: .8rem;
  }
  
}