.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    cursor: default;
    padding: 0rem 3.5rem;
}
.container h1{
    padding-top: 5rem;
    font-weight: 500;
    font-size: 1.4rem;
}
.container p{
    /* padding-top: 1.8rem; */
    margin-top: 1rem;
    color: rgb(162, 161, 161);
}
.outer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
}
.outer div{
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.outer div p{
    font-weight: 550;
    font-size: 1rem;
    color: black;
    
}


.imgCont{
    border: .1rem solid rgb(246, 242, 242);
    border-radius : .75rem;
    box-shadow: 0 1px 1px rgba(172, 166, 166, 0.47); /* ✅ shadow add */
}
.imgCont span{
    color:  rgb(135, 134, 134);
    font-size: .8rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
}
.imgConatiner{
    height: 14rem;
    width: 18rem;
    object-fit: cover;
    position: center;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    box-shadow: 0 1px 1px rgba(160, 158, 158, 0.25);
}
