.WareHouseDetailsContainer{
    width: 100%;
}

.WareHouseDetailsContainer .icons{
    scale: 1.2;
    color: rgba(153, 153, 247, 0.622);
}

.WareHouseDetailsContainer .heading{
    padding-top: 0.9rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.WareHouseDetailsContainer .heading h2{
    font-size: 1.6rem;
    font-weight: 500;
}

.WareHouseDetailsContainer .heading p{
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
    opacity: 0.6;
    font-weight: 200;
}

.WareHouseDetailsContainer .UsernameSection{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.WareHouseDetailsContainer .UsernameSection p{
    display: flex;
    gap: 0.6rem;
    font-size: 1.2rem;
    opacity: 0.8;
    font-weight: 200;
    margin-bottom: 0.7rem;
}


.WareHouseDetailsContainer .UsernameForm{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.UsernameSection .UsernameForm .UernameInput{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.UsernameSection .UsernameForm .UernameInput label{
    display: flex;
    gap: 0.4rem;
}

.UsernameForm .UsernamePassword{
    display: flex;
    gap: 5rem;
}

.UsernameForm .UsernamePassword .Password{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.UsernameForm input {
    background-color: rgba(222, 221, 221, 0.308);
    border: 1px solid transparent; /* reserve space for focus border */
    padding: 0.6rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.UsernameForm input:focus {
    outline: none;
    border: 1px solid #a9a9a9; /* now width doesn't jump */
    box-shadow: 0 0 5px rgba(53, 53, 53, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
}

.UsernameForm span{
    opacity: 0.5;
    font-size: 0.9rem;
}
