.cont{
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
}
.outer {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border: 0.1rem solid #D3D3D3;
  border-radius: 0.25rem;
  height: 2.5rem;
}

.outer input {
  flex: 1;
  padding: 0.5rem 2rem 0.5rem 1.5rem; /* extra right padding for icon */
  border: none;
  outline: none;
  font-size: 1.1rem;
  border-radius: 0.25rem;
}

.icon {
  position: absolute;
  right: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.outer input:focus{
    color: none;
}
.outer p {
  display: flex;
  justify-content: center;  /* centers horizontally */
  align-items: center;      /* centers vertically */
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  border-radius: 0.25rem;
  color: #bbb9b9;
  border: none;

}
.sort{
    cursor: default;
    gap: .5rem;
    color:  rgb(58, 52, 52) !important; 
}

.outer input::placeholder{
    color: #bbb9b9;
    
}
.Location{
    position: relative;
}
.filterWrapper{
    position: relative;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;    /* 👈 parent ke neeche */
  left: 0;
  width: 100%;  /* 👈 parent ke equal width */
  background-color: white;
  border-left: 0.1rem solid #D3D3D3;
  border-right: 0.1rem solid #D3D3D3;
  border-bottom: 0.1rem solid #D3D3D3;
  z-index: 3000;
}
.option {
  border-bottom: 1px solid #D3D3D3;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.option:last-child {
  border-bottom: none;
  border-radius: 0 0 0.25rem 0.25rem;
}
.icon{
    font-size: 1.5rem;
    padding-right: .2rem;
}
.sortWrapper{
    position: relative;
}