
.dropDownContainer{
    top: 100%;
    background-color: white;
    right: 1rem;
    left: 6rem;
    position: absolute;
    width: 70%;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    box-shadow: rgb(95, 94, 94) 1px 1px 1px;
    font-family:  Helvetica , Arial, sans-serif;
   opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.dropDownContainer.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0); /* smooth slide up */
}


.dropDownContainer .dropdowncat{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.dropDownContainer .dropdowncat h3{
    margin-bottom: 0.8rem;
    color: rgb(21, 107, 187);
}

.dropDownContainer .dropdowncat span:hover{
   color: rgb(163, 170, 180);
    cursor: pointer;
}