.sellerLogInContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
  position: relative; 
  height: 91vh;
  align-items: center;
  overflow: hidden;
}

.SellerLOgInInnerConatainer{
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    width: 25%;
    display: flex;
    justify-content: center;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets//Loginbg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(6px);
  transform: scale(1.05);
  z-index: 0;
}

.SellerLOgInInnerConatainer{
    padding: 2rem;
    z-index: 9999;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SellerLOgInInnerConatainer h1 {
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(90deg, #08203e, #557c93); /* 🎨 choose your colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.SellerLOgInInnerConatainer form{
    position: relative;
    align-items: center;
    padding: 1rem ;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.SellerLOgInInnerConatainer .inputContainer{
    padding-bottom: 1.4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    position: relative;
}

.SellerLOgInInnerConatainer p{
    cursor: pointer;
    font-size: 0.8rem;
    position: absolute;
    right: 0;
    bottom: 0;
    color: rgba(60, 124, 234, 0.985);
}

.SellerLOgInInnerConatainer input{
    padding: 0.5rem;
    border-radius: 0.3rem;
    width: 100%;
}

.SellerLOgInInnerConatainer button{
    background: linear-gradient(90deg,#0e1c26,#294861);
    color: white;
    width: 100%;
     padding: 0.5rem 0.3rem; 
    border-radius: 0.3rem;
}

.SellerLOgInInnerConatainer button:hover{
    scale: 1.1;
}